<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- search and  logo -->
    <div th:fragment="headCommonSearch" class="row px-5 pt-4">
        <div class="col-3 p-0">
            <a class="text-decoration-none" href="home">
                <img class="head-logo pt-2"  src="../../static/image/site/TB11ojWRXXXXXafaFXXXXXXXXXX-190-27.png" th:src="@{/image/site/TB11ojWRXXXXXafaFXXXXXXXXXX-190-27.png}">
            </a>
        </div>
        <div class="col-6 ">
            <form>
                <!-- search item -->
                <div class="input-group">
                    <input type="text" class="form-control search-input" placeholder="搜索 天猫 商品/名牌/店铺" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn search-button" type="button">搜索</button>
                    </div>
                </div>
            </form>
            <!-- hot key search -->
            <ul class="nav"><!-- 根据屏幕宽度，固定显示个数 -->
                <template v-for="index in 5">
                    <li  class="nav-item float-left">
                        <a class="hot-search-link" href="javascript:void(0)">长袖t恤男</a>
                    </li>
                    <span v-if="index < 5" class="mx-3 hot-search-seprator float-left">|</span>
                </template>
            </ul>
        </div>
    </div>
</body>
</html>