/*后台分类图片大小*/
.categoryImage{
    height: 40px;
}
.add-product-image-container{
    width: 85%;
    min-width: 18rem;
    max-width: 25rem;
}
.prodcut-list-image{
    max-height: 59px;
}
.max-width-720px{
    max-width: 720px;
}
.min-width-200px{
    min-width: 200px;
}
.min-width-150px{
    min-width: 150px;
}
.admin-update-product::placeholder{
    color: red;
}